.budgetChartContainer {
  background: white;
  border-radius: 10px;
  width: 180vh;
  padding: 20px;
}
.budgetChartMainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.filterOptions {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filterOptions p {
  cursor: pointer;
  color: rgb(108, 106, 106);
}

.filterOptions p:hover {
  color: black;
  text-decoration: underline;
}

.filterOption {
}
