.budgetChartContainer {
  background: white;
  border-radius: 10px;
  width: 190vh;
}
.budgetChartMainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.filterOptions {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filterOptions p {
  cursor: pointer;
  color: #007bff;
  text-decoration: underline;
}

.filterOptions p:hover {
  color: #0056b3;
}